streamlit==1.58.0

# AI / LLM
openai==2.41.1
langchain==1.3.9
langchain-core==1.4.7
langchain-openai==1.3.2
langgraph==1.2.5
langgraph-checkpoint==4.1.1
langgraph-prebuilt==1.1.0
langgraph-sdk==0.4.2

# Guardrails
guardrails-ai==0.10.2
guardrails-ai-types==0.4.0
guardrails_hub_types==0.0.4

# Topic Restriction
restricttotopic @ git+https://github.com/tryolabs/restricttotopic.git@7290756b2deb977e3e035c22abb8b08fd3c6839e

# Database
SQLAlchemy==2.0.51

# Environment
python-dotenv==1.2.2

# Data
pandas
openpyxl

# Security / PII
presidio-analyzer
presidio-anonymizer
phonenumbers
gliner

# NLP / ML
transformers
torch
sentence-transformers
tiktoken
litellm==1.82.6

# Utilities
requests
httpx
pydantic
numpy
faker
GitPython

git+https://github.com/guardrails-ai/guardrails_pii.git
git+https://github.com/guardrails-ai/provenance_llm.git
git+https://github.com/tryolabs/restricttotopic.git